<!doctype html>
<html ng-app="MyApp">
<head>
<title>My Angular App</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="javascripts/controller.js"></script>
</head>
<body>
	<div ng-controller="TaskController as taskController">
		<lable>Number of Task(s) : <lable />{{taskController.tasks.length}}
		<br />
		{{taskController.updateMessage}} <br />
		
		<form>
			<lable>New Task Name : <lable /> <input
				plceholder="Enter a new task " type="text"
				ng-model="taskController.newTask" />
			<button ng-disabled="!taskController.isValidNewTask();"
				ng-click="taskController.addNewTask();">
				Add New Task
				</button>
		</form>
	</div>
</body>
</html>